#ab-counter-box {
  width: 250px;
  height: auto;
  position: fixed;
  bottom: 10px;
  line-height: 15px;
  right: 20px;
  font-size: 13px;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#ab-counter-box > .ab-left {
  /* flex-grow: 7;
    height: 80%;
    width: 80%;
    background: #999;
    margin-right: 8px; */
}
#ab-counter-box > .ab-right {
  flex-grow: 3;
  width: 10%;
  height: 80%;
  display: none;
}

#ab-counter-box > .ab-left > #ab-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dotted #eee;
  padding-bottom: 5px;
}

#ab-counter-box > .ab-left > .ab-instruct {
  color: #fff;
}
#ab-counter-box > .ab-right > #ab-circle-toggle {
  width: 35px;
  height: 35px;
  flex-grow: 3;

  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;
  position: fixed;
  right: 45px;
  bottom: 48px;

  transition: all 300ms ease-in-out;
}
#ab-counter-box > .ab-right > #ab-circle-toggle:hover {
  opacity: 0.7;
}
#ab-counter-box > .ab-right > #ab-circle-toggle > img {
  width: 35px;
  height: 35px;
}
.ab-left {
  background: rgb(153, 153, 153);
  position: relative;
}
#ab-cross {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1000;
  font-size: 14px;
  color: 000;
  transform: scale(1);
  transition: all 150ms ease-out;
  cursor: pointer;
  opacity: 0.5;
}
#ab-cross:hover {
  opacity: 1;
  transform: scale(1.2);
}

/*   Counter Css    */

#ab-counter {
}
#ab-message {
  font-family: sans-serif;
  color: #000;
  display: inline-block;
  text-align: center;
  /* font-size: 18px;*/
  font-size: 13px;

  line-height: 1;
  letter-spacing: -0.6px;
  font-family: cursive;
  font-weight: 600;
  box-sizing: border-box;
  padding: 5px;
}

#ab-counter > div {
  padding: 7px;
  border-radius: 3px;
  background: #999;
  display: inline-block;
  /* padding-bottom: 3px;*/
  /* display: none;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#ab-counter div > span {
  padding: 7px;
  border-radius: 3px;
  background: #0070e0b8;
  display: inline-block;
  width: auto;
}

.smalltext {
  padding-top: 5px;
  font-size: 10px;
}
