/* .pcTitle {
  font-size: 1.3rem;
  text-align: center;
}

.pcImage {
  width: 25px;
  height: 25px;
  text-align: center;
}

.headerWrapper {
  display: flex;
  justify-content: space-evenly;
} */
