<div class="connected-view">
	<div id="connected-container" class="connected-view__container connected-view__middle">
		<div class="wrapper">
			

			<p class="connected-view__status-title">CONNECTED</p>

			<div class="connected-view__iplocation-title"> SERVER LOCATION</div>
			<div id="country-flag"></div>
			<div id="connected-country" class="connected-view__country"></div>

			<div class="connected-view__button-container">

				<div class="connected-view__button-container__disconnect-button">
					<button id="connected-disconnect-button" class="mdc-button mdc-button--raised">
						<span class="mdc-button__label">{DashboardTurnOff}</span>
					</button>
				</div>

			</div>

		</div>
	</div>
</div>
